@model eSankAlumni.Data.tblLecture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblLecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LectureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePhoto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePhoto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePhoto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePhoto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotesDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotesDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LectureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
